rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Foydalanuvchi avatar rasmlari
    match /avatars/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Tort rasmlari
    match /cakes/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
    
    // Umumiy rasmlar
    match /images/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}